[Unit]
Description=Redis Node on port 7002
After=network.target

[Service]
User=redis
Group=redis
ExecStart=/usr/bin/redis-server /etc/redis/redis-7002.conf
ExecStop=/usr/bin/redis-cli -p 7002 shutdown
Restart=on-failure
RestartSec=3
StartLimitInterval=60
StartLimitBurst=3
LimitNOFILE=65535
Type=notify

# 固定 CPU
CPUAffinity=4

# 禁用 Swap
MemorySwapMax=0

[Install]
WantedBy=multi-user.target